/*** hoja de estilo del ejercicio index2 de cancion del pirata **/
@font-face {
   font-family: 'escrito';
   src: url("../fonts/AlexBrush-Regular.ttf");
}
body {
   background-color: black;
}

#container {
   margin: auto;
   text-align: center;
   background-image: url('../images/background2.jpg');
   background-size: cover; /* estira horizontal y vertical para que quepa 1 sola vez*/
   padding: 30px 0;
   width: 90%;
   font-family: escrito;
   font-weight: 600;
   font-size: 1.5em;
   background-position: 9%;
}
#poema {
   margin: auto;
   padding: 10px;
   background: #FFF;
   width: 350px;
   background: rgba(202, 241, 234, 0.733);
}
